{
  "presets" : [
    "es2015",
    "react",
    "react-hmre"
  ],
  "plugins" : [
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}
