.player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #bdbdbd;
  background: #e0e0e0;

  .player-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
