.hand {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: $table-width;
  height: 40px;
  padding: $ui-padding;
  border-top: $ui-border solid $ui-dark;
  background-color: $ui-medium;
  color: $ui-dark;
  font-family: 'Hammersmith One', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  @extend %ttr-shadow-low;

  @include ttr-transition('height');

  &:hover {
    height: 55px;
  }

  &.visible {
    height: auto;
  }

  .title {
    cursor: pointer;
    @include ttr-transition('color');
    &:hover {
      color: $ui-black;
    }
  }

  .color {
    display: inline-block;
    width: 35px;
    height: 20px;
    margin: 4px;
    @include text-with-shadow($ui-white, $ui-black);
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    //@extend %ttr-shadow-low;

    &.red { background-color: $red; }
    &.orange {
      background-color: $orange;
      @include text-with-shadow($ui-black, $ui-light);
    }
    &.yellow {
      background-color: $yellow;
      @include text-with-shadow($ui-black, $ui-light);
    }
    &.green { background-color: $green; }
    &.blue { background-color: $blue; }
    &.purple { background-color: $purple; }
    &.black { background-color: $black; }
    &.white {
      background-color: $white;
      @include text-with-shadow($ui-black, $ui-light);
    }
    &.wild { background: $wild-card; }
  }
}
