.log {
  position: fixed;
  top: 0;
  right: -$log-width;
  z-index: 10;
  width: $log-width;
  height: 100vh;
  background-color: $ui-dark;
  color: $ui-white;
  cursor: pointer;
  @extend %ttr-shadow-high;

  @include ttr-transition('right');

  &.visible {
    right: 0px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: -$log-label-width;
    display: block;
    width: $log-label-width;
    height: $log-label-height;
    border-radius: 0 0 0 5px;
    background-color: $ui-dark;
    content: 'Log';
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 14px;
    line-height: $log-label-height;
    text-align: center;
    text-transform: uppercase;
  }

  .message {
    padding: $ui-padding;
    border-bottom: $ui-border solid $ui-medium;
    font-size: 12px;
    &.success {
      border-bottom-color: $green;
    }
    &.error {
      border-bottom-color: $red;
    }
  }
}
