.log {
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 10;
  width: 250px;
  height: 100vh;
  background-color: $ui-dark;
  color: $ui-white;
  cursor: pointer;
  @extend %ttr-shadow-low;

  @include ttr-transition('right');

  &.visible {
    right: 0px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: -40px;
    display: block;
    width: 40px;
    height: 30px;
    border-radius: 0 0 0 5px;
    background-color: $ui-dark;
    content: 'Log';
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }

  .message {
    padding: 10px;
    border-bottom: 3px solid $ui-medium;
    font-size: 12px;
    &.success {
      border-bottom-color: $green;
    }
    &.error {
      border-bottom-color: $red;
    }
  }
}
