.route-popup {
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: $popup-width;
  z-index: 20;
  border-radius: 5px;
  background-color: $ui-dark;
  opacity: 0;
  color: $ui-white;

  @extend %ttr-shadow-high;

  @include ttr-transition('opacity');

  &.visible {
    opacity: 0.95;
    //margin: auto;
  }

  .route {
    padding: $ui-padding $ui-padding $ui-margin $ui-padding;
    border-bottom: $ui-border solid;
    font-family: 'Hammersmith One', Arial, sans-serif;
    line-height: 1.2;
    .start:after {
      content: ' - ';
    }
  }

  .content {
    padding: $ui-padding;
    font-size: 12px;
    line-height: 1.5;
  }

  .parts {
    padding-bottom: 3px;
    span {
      display: inline-block;
      width: 33px;
      height: 15px;
      margin-right: $ui-margin;
      @extend %ttr-shadow-low;
    }
  }


  &.red {
    .title { border-bottom-color: $red; }
    .parts span { background-color: $red; }
  }
  &.orange {
    .title { border-bottom-color: $orange; }
    .parts span { background-color: $orange; }
  }
  &.yellow {
    .title { border-bottom-color: $yellow; }
    .parts span { background-color: $yellow; }
  }
  &.green {
    .title { border-bottom-color: $green; }
    .parts span { background-color: $green; }
  }
  &.blue {
    .title { border-bottom-color: $blue; }
    .parts span { background-color: $blue; }
  }
  &.purple {
    .title { border-bottom-color: $purple; }
    .parts span { background-color: $purple; }
  }
  &.black {
    .title { border-bottom-color: $ui-black; }
    .parts span { background-color: $ui-black; }
  }
  &.white {
    .title { border-bottom-color: $white; }
    .parts span { background-color: $white; }
  }
  &.wild {
    .title { border-bottom-color: $wild-route; }
    .parts span { background: $wild-card; }
  }






}
