.table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: $table-width;
  height: 100vh;
  padding-top: $info-bar-height;
  background-color: $ui-light;
  @extend %ttr-shadow-low;

  .deck,
  .destination-deck {
    margin: $ui-padding;
    padding: $ui-padding;
    border-radius: 5px;
    background-color: $ui-medium;
    color: $ui-white;
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

    @include ttr-transition('box-shadow background-color');

    &:hover {
      @extend %ttr-shadow-low;
    }
    &:active {
      background-color: $ui-dark;
    }

    span {
      display: block;
      font-size: 14px;
    }
  }

  .pile {
    padding: $ui-padding;
    color: $ui-dark;
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 18px;
    text-align: center;

    .color {
      display: inline-block;
      width: 35px;
      height: 45px;
      margin: 4px;
      line-height: 45px;
      cursor: pointer;

      @include ttr-transition('box-shadow background-color');

      &:hover {
        @extend %ttr-shadow-low;
      }
      &:active {
        background-color: $ui-dark;
      }

      &.red { background-color: $red; }
      &.orange { background-color: $orange; }
      &.yellow { background-color: $yellow; }
      &.green { background-color: $green; }
      &.blue { background-color: $blue; }
      &.purple { background-color: $purple; }
      &.black { background-color: $black; }
      &.white { background-color: $white; }
      &.wild { background: $wild-card; }
    }
  }
}
