// Cards and Routes
$red:          #f44336;
$orange:       #ff9800;
$yellow:       #ffeb3b;
$green:        #4caf50;
$blue:         #2196f3;
$purple:       #9c27b0;
$black:        #424242;
$white:        #f5f5f5;
$wild-route:   #90a4ae;
$wild-card:    linear-gradient(122deg,
  $white 0%, $white 12.5%,
  $yellow 12.5%, $yellow 25%,
  $orange 25%, $orange 37.5%,
  $red 37.5%, $red 50%,
  $purple 50%, $purple 62.5%,
  $blue 62.5%, $blue 75%,
  $green 75%, $green 87.5%,
  $black 87.5%, $black 100%
);


// UI
$ui-white:     #fff;
$ui-light:     #b0bec5;
$ui-medium:    #90a4ae;
$ui-dark:      #37474f;
$ui-black:     #000;
$ui-pink:      #d7ccc8;
$ui-highlight: #00e676;
