$ui-margin: 5px;
$ui-padding: 10px;
$ui-large-padding: 30px;
$ui-border: 3px;

$info-bar-height: 50px;

$log-width: 250px;
$log-label-width: 50px;
$log-label-height: 34px;

$popup-width: 250px;

$table-width: 200px;
