.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: top;
  width: 100%;
  height: 30px;
  background-color: #37474f;
  color: #fff;
  font-size: 14px;

  .menu-title {
    padding: 0 10px;
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
  }

  .menu-item {
    position: relative;
    width: auto;
    height: 30px;
    padding: 0 20px;

    span {
      line-height: 30px;
    }

    .submenu {
      position: absolute;
      display: none;
      width: 200px;
      padding: 10px;
      margin-left: -10px;
      background-color: #37474f;
    }

    &:hover .submenu {
      display: block;
    }
    &:hover .submenu.hidden {
      display: none;
    }
  }

  .menu-username {
    span {
      font-weight: bold;
    }
    /*&:hover span {
      color: #90a4ae;
    }*/
    input[type='text'] {
      border: none;
      width: 125px;
      padding: 2px;
    }
    input[type='submit'] {
      border: none;
      width: 50px;
      padding: 2px;
      background-color: #b0bec5;
      color: #37474f;
      cursor: pointer;
    }
  }

  .menu-room {
    &.hidden {
      display: none;
    }
    a {
      display: inline-block;
      margin-left: 5px;
      color: #fff;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: #90a4ae;
      }
    }
  }
}

/*.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: top;
  width: 100%;
  height: 30px;
  background-color: #37474f;
  color: #fff;
  font-size: 14px;

  .menu-item {
    display: block;
    width: 200px;
  }

  .menu-title {
    padding: 5px 10px;
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 16px;
  }

  .menu-item > div {
    position: relative;
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #90a4ae;
    }
  }

  .submenu {
    position: relative;
    display: none;
    width: 200px;
    padding: 10px;
    margin-left: -10px;
    background-color: #37474f;
  }
}

.menu-item > div:hover {
  .submenu {
    display: block;
  }
  .submenu.hidden {
    display: none;
  }
}

.menu-item {

  .menu-username {
    span {
      font-weight: bold;
      line-height: 30px;
    }
    input[type='text'] {
      border: none;
      width: 125px;
      padding: 2px;
    }
    input[type='submit'] {
      border: none;
      width: 50px;
      padding: 2px;
      background-color: #b0bec5;
      color: #fff;
    }
  }

}
*/
