.hand {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #bdbdbd;
  background: #e0e0e0;
}
